<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--根节点名必须是mapper
    根节点必须配置 namespace 属性 取值为对应的接口的全限定名
    在根节点内部 根据需要执行的SQL语的类型不同 使用 inset delete update select

-->
<mapper namespace="cn.tedu.csmall.server.mapper.SpuMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into pms_spu(id,name, type_number, title, description, list_price,
                            stock, stock_threshold, unit, brand_id, brand_name,
                            category_id, category_name, attribute_template_id, album_id, pictures,
                            keywords, tags, sales, comment_count, positive_comment_count,
                            sort, is_deleted, is_published, is_new_arrival, is_recommend,
                            is_checked, check_user, gmt_check, gmt_create, gmt_modified)
        values (#{id},#{name}, #{typeNumber}, #{title}, #{description}, #{listPrice},
                #{stock}, #{stockThreshold}, #{unit}, #{brandId}, #{brandName},
                #{categoryId}, #{categoryName}, #{attributeTemplateId}, #{albumId}, #{picture},
                #{keywords}, #{tags}, #{sales}, #{commentCount}, #{posttiveCommentCount},
                #{sort}, #{isDeleted}, #{isPublished}, #{isNewArrival}, #{isRecommend},
                #{isChecked}, #{checkUser}, #{gmtCheck}, #{gmtCreate}, #{gmtModified})
    </insert>
    <delete id="deleteById">
        delete
        from pms_spu
        where id = #{id}
    </delete>
    <delete id="deleteByIds">
        from pms_spu
        where id in(
        <foreach collection="array" item="id" separator=",">
            #{id}
        </foreach>
        )
    </delete>


</mapper>
